/* SCSS CENTRAL E CONFIGURAÇÕES QUE PERMANECEM NA TELA */

// Importações
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

//Variaveis
$font:'Oswald', arial, sans-serif;
$Primario: #202124;
$Secundario: #4B4F52;
$branco:#EEE2DE;
$Terciario : #8d1414;

// Mixins
@mixin noMobile{
    @media screen and (min-width:900px) {
        @content;
    }
}

// Reset Geral
*{
    padding: 0;
    margin: 0;
    font-family: $font;
    box-sizing: border-box;
    transition: all ease-in-out .5s;
}

// Estilizações do corpo da página
body{
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    background: $Primario;
    position: relative;
    overflow:hidden;

    &::-webkit-scrollbar{display: none;}
    &::-webkit-scrollbar-thumb{display: none;}
}

// Estilização da forma de fundo 1
div.ring1{
    display: block;
    width: 600px;
    height: 600px;
    background-color: transparent;
    border-radius: 50%;
    border: 40px solid #8d1414;
    position: absolute;
    left: -250px;
    top: calc((100vh/2) - 300px);
    z-index: -1;
    opacity: .3;

    @include noMobile{
        top: - 300px;
    }
}

// Estilização da forma de fundo 2
div.ring2{
    display: none;
    width: 600px;
    height: 600px;
    background-color: transparent;
    border-radius: 50%;
    border: 40px solid #8d1414;
    position: absolute;
    left: calc((100vw) - 300px);
    top: calc((100vh) - 300px);
    z-index: -1;
    opacity: .3;

    @include noMobile{
        display: block;
    }
}

// Estilização do conteúdo central da página
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Estilização da gaveta de seleção de cores
    div.colorDrawer{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        left: calc((100vw / 2) - 100px);
        top: - 40px;
        color: $branco;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        z-index: 999;

        &.activated{
            top: 10px;
            span{
                transform: rotate(180deg);
            }
        }

        span{
            height: 100%;
            cursor: pointer;
        }

        div.colors{
            width: 200px;
            display: flex;
            flex-direction: row;
            background-color: rgba(255, 255, 255, 0.048);
            border-radius: 20px;

            div.color{
                width: 30px;
                height: 30px;
                margin: 5px;
                border-radius: 50%;
                cursor: pointer;

                &:hover{
                    box-shadow: 0px 0px 5px $branco;
                }
            }

            :nth-child(1){
                background-color: #8d1414;
            }
            :nth-child(2){
                background-color: #0d5e12;
            }
            :nth-child(3){
                background-color: #C641FA;
            }
            :nth-child(4){
                background-color: #41AAFA;
            }
            :nth-child(5){
                background-color: #cf9d06;
            }
        }
    }   
}

// Mais Importações
@import 'results.scss', 'game.scss', 'lobby.scss', 'animacao.scss';