// IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

//VARIABLES

$font:'Oswald', arial, sans-serif;
//$Primario: #1d1535;
//$Secundario: #402d74;
$branco:#EEE2DE;

$Primario : #570c0c;
$Secundario : #8d1414;
//$Primario : #08330b;
//$Secundario : #0d5e12;

//RESET GENERAL
*{
    padding: 0;
    margin: 0;
    font-family: $font;
    box-sizing: border-box;
    transition: all ease-in-out .8s;
}

body{
    width: 100vw;
    height: 100vh;
    background: $Primario;
    position: relative;
    overflow: hidden;
    &::-webkit-scrollbar{display: none;}
    &::-webkit-scrollbar-thumb{display: none;}
    &::after{
        content: '';
        position: absolute;
        left: -150px;
        top: -150px;
        display: block;
        width: 300px;
        height: 300px;
        background-color: transparent;
        border-radius: 50%;
        border: 50px solid $Secundario;
        z-index: -1;
        opacity: .5;
    }
    &::before{
        content: '';
        position: absolute;
        left:calc(100vw - 200px);
        top:calc(100vh - 200px);
        display: block;
        width: 300px;
        height: 300px;
        background-color: transparent;
        border-radius: 50%;
        border: 50px solid $Secundario;
        z-index: -1;
        opacity: .5;
    }
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@import 'results.scss', 'game.scss', 'lobby.scss', 'animacao.scss';